    .box {
    width: 100vw;
    height:100vw;
    background: rgb(21,57,238);
    background: radial-gradient(circle, rgba(21,57,238,0.7777704831932774) 0%, rgba(255,58,80,1) 100%);
    
  }

  html {
    height:100%;
  }
  
  body {
    background-image:radial-gradient(#eb5109,#2b4f97 100%);
    background-repeat: no-repeat;
  }



  .myButton {
    font-family: 'Bungee Shade';
    font-size: 10px;
    font-size: 6;
    color: rgb(213, 125, 91);
    font-size: 16px;
    line-height: 16px;
    padding: 6px;
    border-radius: 10px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: radial-gradient( rgb(222 228 232) 0%, rgb(210 219 224) 10%, rgb(237 242 244) 75%);
    box-shadow: rgb(213 175 175) 2.5px 2.5px 10px 2.5px;
    border: 2px solid rgb(229 237 242);
    /* display: inline-block; */
    align-items: center;
}

 
    .myButton:hover {
    background: #2b4f97; }
    .myButton:active {
    background: #c9c7c6; }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
      gap: 50px 100px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 50px;
      font-size: 30px;
      text-align: center;
    }
    
    h1 {
      text-align: center;
      color: #c9c7c6;
      font-family: 'Bungee Shade';
      font-size: 22px;
      font-size: 60;
      
    
    }

    @media screen and (max-width: 300px) {
      span.psw {
         display: block;
         float: none;
      }
      .cancelbtn {
         width: 100%;
      }
    }

    